@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*homepage*/

button {
  cursor: pointer;
  border: none;
  color: white;
  font-family: var(--primary-font);
}

#logo {
  height: 6vh;
  padding: 3px;
  margin-left: 2vh;
  margin-top: 1vh;
}

nav {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0.05em 0.05em 1em #7c7c7c;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
}

#cart {
  height: 4vh;
}

#navigation_list {
  display: block;
}

#navigation_list li {
  display: inline-block;
  font-family: var(--primary-font);
  margin-right: 3vh;
}

#navigation_list li a:visited {
  color: black;
}

.hamburgermenu {
  display: none;
  height: 3.5vh;
  cursor: pointer;
}

#main_banner {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 70% 10%;
  height: 95vh;
  text-align: center;
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#main_cta {
  margin: auto;
  grid-column: 2/3;
  grid-row: 2/3;
}

#main_cta button {
  padding: 10px;
  margin: auto;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: var(--primary-font);
  width: 20vh;
  text-transform: uppercase;
}
#main_cta a {
  margin: auto;
}

#more {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: auto;
  font-family: var(--primary-font);
  color: blue;
}

#more img {
  height: 4vh;
  color: blue;
}

#how {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 6rem;
  grid-template-rows: 0.6fr 1.5fr;
  margin-top: 20vh;
}

#how div {
  display: flex;
  justify-content: space-between;
  font-family: var(--primary-font);
  color: blue;
  margin-top: 3vh;
}

#activities {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-family: var(--primary-font);
  background-color: #aaefd494;
  align-items: center;
  padding: 10vh;
}

#activities img {
  max-width: 70%;
  border-radius: 19px;
}

#activities button {
  padding: 5px;
  border-radius: 20px;
  width: 15vh;
}

#how img {
  height: 10vh;
  margin-right: 1vh;
}

#how p {
  display: flex;
  margin: auto;
}

#how h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: blue;
  text-align: center;
}

#uniquesoap {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: auto;
}

#highquality {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

#organicproducts {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: auto;
}

#ready_made {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 15vh;
  height: 80vh;
}

#ready_made h2 {
  grid-column: 2/3;
  text-align: center;
  color: blue;
}

footer {
  font-family: var(--primary-font);
  background: rgb(142, 236, 245);
  background: linear-gradient(
    90deg,
    rgba(142, 236, 245, 1) 0%,
    rgba(149, 218, 241, 1) 35%,
    rgba(255, 207, 209, 1) 100%
  );
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
  margin: auto; */
}

:root {
  /* FONTS */
  --primary-font: "Fredoka", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --font-color: #464646;
  --secondary-font-color: #ffffff;
  --headline-color: #1100df;

  /* BUTTONS */
  --button-white: white;
  --button-gradient: #1100df;
  --button-hover-colour: #1002ad;
  --subtle-hover-colour: #ffcfd1;
  --subtle-hover-colour2: #8eecf5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}

h1 {
  color: var(--headline-color);
}

h2 {
  font-weight: 600;
  color: var(--headline-color);
  font-size: 1.7em;
}

p {
  font-family: var(--secondary-font);
}

button {
  background-color: var(--button-gradient);
  max-width: 100%;
}

button:hover {
  background-color: var(--button-hover-colour);
  max-width: 100%;
}

#links {
  text-decoration: underline;
}

footer div {
  margin: auto;
}

footer img {
  height: 5vh;
}

#some img {
  margin-left: 1.5rem;
}

/* PRODUCT PAGE  */

.quantityPicker {
  display: flex;
  flex-direction: row;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  justify-content: space-around;
}

.amountArea {
  min-width: 4rem;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
}

.quantityPicker button {
  padding: 1.2rem;
  min-width: 5rem;
  border-radius: 5px;
  border: none;
  font-size: 100%;
}

.minusButton {
  opacity: 80%;
}

.productpage img {
  max-width: 100%;
}

.productInfoArea {
  display: grid;
  grid-template-columns: 1fr;
  padding: 6.5%;
  padding-top: 4%;
}

.productInfoArea h2 {
  font-family: var(--primary-font);
  font-size: 2.4em;
  font-weight: 300;
  padding-top: 1.2rem;
  padding-bottom: 0.2rem;
  margin: 0;
}

.productInfoArea .price {
  font-family: var(--secondary-font);
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.productInfoArea p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.productInfoArea h4 {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.addToCart {
  padding: 0.9rem;
  min-width: 5rem;
  border-radius: 10px;
  min-height: 4.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

.productTextInfo {
  padding-top: 2rem;
  display: grid;
  row-gap: 0.5rem;
}

/*horizontal scroll*/

#ready_made {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.soap {
  display: flex;
  gap: 2rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#ready_made h2 {
  grid-column: 1/4;
  text-align: center;
  grid-row: 1/2;
}

.horizontal {
  grid-row: 2/3;
  grid-column: 1/4;
  overflow-x: auto;
  margin-left: 5vh;
}

.valuesTrio {
  display: flex;
  max-width: 90%;
}

.uniquesoapProductPage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.highqualityProductPage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.organicproductsProductPage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* PRODUCTLIST PAGE */

.showingProductsText {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

article a {
  font-size: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.dropdownFilter {
  position: relative;
  display: inline-block;
}

.sortByList {
  display: flex;
}

.sortListItem {
  list-style: none;
  padding: 1rem 2rem 1rem 1.5rem;
}

.sortListItem:hover {
  background-color: var(--subtle-hover-colour);
}

.filterList {
  display: flex;
}

.filterList ul {
  margin: 0;
  padding: 1rem 0 0 0;
}

.filterListItem {
  list-style: none;
  padding: 1rem 5rem 1rem 1.5rem;
  display: flex;
  flex-direction: row;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdownFilter:hover .dropdown-content {
  display: block;
  margin-left: -6rem;
}

.smallSquare {
  max-width: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  max-height: 1rem;
  border: 1px solid;
  margin-right: 1rem;
}

.smallSquare:hover {
  background-color: var(--subtle-hover-colour);
}

.smallSquare:active {
  background-color: var(--subtle-hover-colour2);
}

#filters {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
}

#filters button {
  padding: 0.6rem 3rem 0.6rem 3rem;
  border-radius: 3px;
  font-size: 1.2rem;
}

.productlist {
  display: grid;
  grid-template-columns: 1fr;
  padding: 8%;
  font-family: var(--secondary-font);
}

.productlist article {
  padding: 1rem 0 4rem 0;
}

article h2 {
  border: 0px;
  font-weight: 400;
  min-height: fit-content;
  padding: 0.8rem;
  margin: 0;
  background-color: var(--button-gradient);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-font-color);
}

.productlist article a p {
  display: none;
}

article .price {
  font-family: var(--secondary-font);
  font-size: 2rem;
  margin: 0;
  padding-left: 1rem;
}

.productWithText {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2rem;
}

.productlist article img {
  max-width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.smallAddToCartButton {
  border-radius: 20px;
  padding: 1rem;
}

article .addToCartArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#quiz {
  min-height: 18rem;
  position: relative;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

  font-size: 1em;
  background-image: linear-gradient(
    to right,
    #aaeed5 0%,
    #95daf1 50%,
    #ffcfd1 100%
  );
}

/* #quiz h2 {
  padding: 1rem;
} */

#quiz button {
  border-radius: 20px;
  padding: 1.2rem 3.2rem 1.2rem 3.2rem;
  font-size: 1.5rem;
}

/* MEDIA QUERIES */
/* RESPONSIVE PRODUCTLIST - FOR DESKTOP */
@media (min-width: 665px) {
  .productsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8%;
  }
}

@media (min-width: 886px) {
  .productsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8%;
  }

  article .price {
    padding-left: 0;
  }
}

/* RESPONSIVE PRODUCTPAGE - FOR DESKTOP */
@media (min-width: 665px) {
  .productpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #ready_made {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .soap {
    display: flex;
    gap: 2rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #ready_made h2 {
    grid-column: 1/4;
    text-align: center;
    grid-row: 1/2;
  }

  .horizontal {
    grid-row: 2/3;
    grid-column: 1/4;
    overflow-x: auto;
    margin-left: 5vh;
  }

  /* ::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
} */

  .product_link button {
    padding: 5px;
    border-radius: 20px;
    width: 15vh;
  }

  .product_link {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
  }

  .product_link h3 {
    font-family: var(--primary-font);
    line-height: 1.5rem;
  }

  .price {
    font-family: var(--primary-font);
  }

  .product_link img {
    height: 200px;
    border-radius: 15px;
  }

  @media only screen and (max-width: 970px) {
    #how {
      grid-template-rows: auto;
    }
    #how p {
      text-align: center;
    }
    #how h2 {
      grid-column: 1/4;
    }
    #how div {
      display: inline-block;
      margin-top: 5vh;
    }
    #how img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2vh;
    }
    #uniquesoap {
      grid-column: 1/4;
      grid-row: 2/3;
      margin: auto;
    }

    #highquality {
      grid-column: 1/4;
      grid-row: 3/4;
      margin: auto;
    }
    #organicproducts {
      grid-column: 1/4;
      grid-row: 4/5;
      margin: auto;
    }
    #activities {
      grid-template-rows: auto;
      row-gap: 10vh;
      padding: 4vh;
    }
    #activities img {
      width: 100%;
    }
    #activities article {
      display: inline-block;
    }
    #createsoap {
      grid-row: 2/3;
      grid-column: 1/3;
    }
    #workshop {
      grid-row: 1/2;
      grid-column: 1/3;
    }
  }

  /*burgermenu*/

  @media only screen and (max-width: 680px) {
    .hamburgermenu {
      display: block;
      margin-top: 3vh;
      margin-right: 1vh;
    }
    #navigation_list {
      display: none;
      width: 100%;
      flex-direction: column;
      text-align: center;
      row-gap: 1.5vh;
    }
    #navigation_list.show {
      display: flex;
    }
  }

  /*footer*/

  @media only screen and (max-width: 760px) {
    footer {
      grid-template-rows: auto;
      text-align: center;
    }
  }
  /* customise page */

  #grid_right h3 {
    font-weight: 500;
    text-transform: uppercase;
  }

  #grid_right h4 {
    font-weight: 500;
    columns: var(--headline-color);
    text-transform: uppercase;
    color: var(--headline-color);
  }

  #product_grid {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
  }

  #grid_left {
    position: -webkit-sticky;
    position: sticky;
    top: 7vh;
    background-image: url(assets/customise_soap_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #start_creating {
    align-self: center;
  }

  #price_container {
    margin-top: 5%;
    height: 10%;
    width: 60%;
    background-color: #1100df;
    border-radius: 2.5em;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #price_container p {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 1.5em;
  }
  #grid_right h4 {
    font-weight: 500;
    columns: var(--headline-color);
    text-transform: uppercase;
    color: var(--headline-color);
  }

  #product_grid {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
  }

  #grid_left {
    position: -webkit-sticky;
    position: sticky;
    top: 7vh;
    background-image: url(assets/customise_soap_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #start_creating {
    align-self: center;
  }

  #price_container {
    margin-top: 5%;
    height: 10%;
    width: 60%;
    background-color: #1100df;
    border-radius: 2.5em;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #price_container p {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 1.5em;
  }

  /* ingredients */

  #grid_right {
    display: flex;
    flex-direction: column;
    padding: 5% 8% 10% 0;
  }

  #shapes,
  #colors,
  #oil {
    margin-top: 7%;
  }

  .vis_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8%;
  }

  .color_icon {
    margin-top: 5%;
    width: 5.5em;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* essential oils */

  #top_note {
    margin-top: 8%;
  }

  #middle_note {
    margin-top: 12%;
  }

  .vis_container_oils {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
  }

  .oils_container {
    margin-top: 5%;
    padding: 2% 2% 4% 2%;
    box-shadow: 0.05em 0.05em 0.8em #9c9c9c;
    border-radius: 1em;
    width: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .oil_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .oil_info p {
    font-size: 0.85em;
    line-height: 130%;
  }

  .oil_info h4 {
    margin-top: 1.3em;
    margin-bottom: 0;
    font-size: 1.3em;
  }

  .oil_info img {
    width: 70%;
  }
  .oils_container button {
    padding: 0.6em 3em 0.6em 3em;
    border-radius: 0.7em;
    background-color: var(--headline-color);
    border: none;
    font-family: var(--primary-font);
    font-size: 1em;
    color: #fff;
  }

  /* .added .oil_info {
  opacity: 60%;
}

.added button {
  background-color: #7c7c7c;
} */

  #finished {
    width: 40%;
    margin: 10% 0 5% 0;
    padding: 0.8em 2.5em 0.8em 2.5em;
    border-radius: 0.7em;
    background-color: var(--headline-color);
    border: none;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    align-self: center;
  }
  footer div {
    padding: 10px;
  }
  #links {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  #address {
    grid-row: 2/3;
    grid-column: 1/4;
  }
  #contact {
    grid-row: 3/4;
    grid-column: 1/4;
  }
  #some img {
    margin-left: 0;
  }
  #some {
    display: flex;
    justify-content: space-around;
  }
}
