@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*homepage*/

button {
  cursor: pointer;
  border: none;
  color: white;
  font-family: var(--primary-font);
}

#logo {
  height: 6vh;
  padding: 3px;
  margin-left: 2vh;
  margin-top: 1vh;
}

nav  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
}

#cart{
  height: 4vh;
}

#navigation_list {
  display: block;
}

#navigation_list li {
  display: inline-block;
  font-family: var(--primary-font);
  margin-right: 3vh;
}

#navigation_list li a:visited {
  color: black;
}

.hamburgermenu {
  display: none;
  height: 3.5vh;
  cursor: pointer;
}

#main_banner {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 70% 10%;
  height: 95vh;
  text-align: center;
  background-image: url(assets/background.svg);
  background-repeat: no-repeat ;
  background-size: cover;
}

#main_cta {
  margin: auto;
  grid-column: 2/3;
  grid-row: 2/3;
}

#main_cta button {
  padding: 10px;
  margin: auto;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: var(--primary-font);
  width: 20vh;
  text-transform: uppercase;
}

 #main_cta a {
  margin: auto;
}


#more {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: auto;
  font-family: var(--primary-font);
  color: blue;
}

#more img {
  height: 4vh;
  color: blue;
}

#how {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 6rem;
  grid-template-rows: 0.6fr 1.5fr;
  margin-top: 20vh;
}

#how div {
  display: flex;
  justify-content: space-between ;
  font-family: var(--primary-font);
  color: blue;
  margin-top: 3vh;
}

#activities {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-family: var(--primary-font);
  background-color: #aaefd494;
  align-items: center;
  padding: 10vh;
}

#activities img {
  max-width: 70%;
  border-radius: 19px;
}

#activities button {
  padding: 5px;
  border-radius: 20px;
  width: 15vh;
}

#how img {
  height: 10vh;
  margin-right: 1vh;
}

#how p {
  display: flex;
  margin: auto;
}


#how h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: blue;
  text-align: center;
}

#uniquesoap {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: auto;
}

#highquality {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

#organicproducts {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: auto;
}

#ready_made {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 15vh;
  height: 80vh;
}

#ready_made h2 {
  grid-column: 2/3;
  text-align: center;
  color: blue;
}

footer {
  font-family: var(--primary-font);
  background: rgb(142,236,245);
  background: linear-gradient(90deg, rgba(142,236,245,1) 0%, rgba(149,218,241,1) 35%, rgba(255,207,209,1) 100%); 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
  margin: auto;
}


:root {
  /* FONTS */
  --primary-font: "Fredoka", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --font-color: #464646;

  /* BUTTONS */
  --button-white: white;
  --button-gradient: blue;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--primary-font);
}

h2 {
  font-family: var(--primary-font);
}

button {
  background-color: var(--button-gradient);
  max-width: 100%;
}

#links {
  text-decoration: underline;
}

footer div {
  margin: auto;
}

footer img {
  height: 5vh;
}

#some img {
  margin-left: 1.5rem;
}


/* PRODUCT PAGE  */
.quantityPicker {
  display: flex;
  flex-direction: row;
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  justify-content: space-around;
}

.amountArea {
  min-width: 4rem;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
}

.quantityPicker button {
  padding: 1.2rem;
  min-width: 5rem;
  border-radius: 5px;
  border: none;
  font-size: 100%;
}

.minusButton {
  opacity: 80%;
}

.productpage img {
  max-width: 100%;
}

.productInfoArea {
  display: grid;
  grid-template-columns: 1fr;
  padding: 6.5%;
  padding-top: 4%;
}

.productInfoArea h2 {
  font-family: var(--primary-font);
  font-size: 2.4em;
  font-weight: 300;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0;
}

.productInfoArea .price {
  font-family: var(--secondary-font);
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.productInfoArea p {
  font-family: var(--secondary-font);
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.productInfoArea h4 {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.addToCart {
  padding: 0.9rem;
  min-width: 5rem;
  border-radius: 10px;
  min-height: 4.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

.productTextInfo {
  padding-top: 2rem;
  display: grid;
  row-gap: 0.5rem;
}

/*horizontal scroll*/

#ready_made {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.soap {
  display: flex;
  gap: 2rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#ready_made h2 {
  grid-column: 1/4;
  text-align: center;
  grid-row: 1/2;
}

.horizontal {
  grid-row: 2/3;
  grid-column: 1/4;
  overflow-x: auto;
  margin-left: 5vh;
}

/* ::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
} */

.product_link button {
  padding: 5px;
  border-radius: 20px;
  width: 15vh;
}

.product_link {
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}

.product_link h3 {
  font-family: var(--primary-font);
  line-height: 1.5rem;
}

.price {
  font-family: var(--primary-font);
}

.product_link img{
  height: 200px;
  border-radius: 15px;
}



@media only screen and (max-width: 970px) {
  #how {
    grid-template-rows: auto;
  }
  #how p {
    text-align: center;
  }
  #how h2{
    grid-column: 1/4;
  }
  #how div {
    display: inline-block;
    margin-top: 5vh;
  }
  #how img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }
  #uniquesoap {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: auto;
  }
  
  #highquality {
    grid-column: 1/4;
    grid-row: 3/4;
    margin: auto;
  }
  #organicproducts {
    grid-column: 1/4;
    grid-row: 4/5;
    margin: auto;
  }
  #activities {
    grid-template-rows: auto;
    row-gap: 10vh;
    padding: 4vh;
  }
  #activities img {
    width: 100%;
  }
  #activities article {
    display: inline-block;
  }
  #createsoap {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  #workshop {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}

/*burgermenu*/

@media only screen and (max-width: 680px) {
  .hamburgermenu {
    display: block;
    margin-top: 3vh;
    margin-right: 1vh;
  }
  #navigation_list {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5vh;
  }
  #navigation_list.show {
    display: flex;
  }
}

/*footer*/

@media only screen and (max-width: 760px) {
  footer {
    grid-template-rows: auto;
    text-align: center;
  }
  footer div {
    padding: 10px;
  }
  #links {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  #address {
    grid-row: 2/3;
    grid-column: 1/4;
  }
  #contact {
    grid-row: 3/4;
    grid-column: 1/4;
  }
  #some img {
    margin-left: 0;
  }
  #some {
    display: flex;
    justify-content: space-around;
  }
}